:root {
  /* Background/Dark Purple: #2A2158 */
  /* Lighter Purple: #4C3F8E */
  /* Pastel Blue: #6C63B8 */
  /* Soft Red (like the selected button): #D45D79 */
  /* Bright Pink: #F77FA6 */
  /* Soft Pastel Orange: #F3B47A */
  /* Pastel Green: #8AB17D */
  /* Neutral Light Gray: #E8E8F3  */

  --port-gore: #1e193f;
  --victoria: #534491;
  --blue-violet: #6456b7;
  --cranberry: #db5079;
  --tickle-me-pink: #fc80a5;
  --rajah: #f7b668;
  --olivine: #9ab973;
  --whisper: #f7f5fa;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--port-gore);
  color: var(--whisper);
}
